In [50]:
import seaborn as sns
import pandas as pd
import numpy as np

In [51]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [53]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [54]:
df = df[df['species'] != 'setosa']
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [55]:
df['species'] = df['species'].map({'versicolor' : 0 , 'verginica' :1})
df.head()

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4      0.0
51           6.4          3.2           4.5          1.5      0.0
52           6.9          3.1           4.9          1.5      0.0
53           5.5          2.3           4.0          1.3      0.0
54           6.5          2.8           4.6          1.5      0.0

In [56]:
# split into dependent and independent dataset

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [57]:
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [58]:
y

50     0.0
51     0.0
52     0.0
53     0.0
54     0.0
      ...
145    NaN
146    NaN
147    NaN
148    NaN
149    NaN
Name: species, Length: 100, dtype: float64

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [60]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [61]:
from sklearn.model_selection import GridSearchCV
parameter = {'penalty' : ['l1','l2','elasticnet'] ,
              'C' : [1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90] ,
              'max_iter' : [100,200,300,400,500,600,700,800,900]
              }

In [62]:
classifier_regressor = GridSearchCV(classifier,param_grid=parameter,scoring='accuracy',cv=5)

In [63]:
classifier_regressor.fit(X_train,y_train)

C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\_array_api.py:290: RuntimeWarning: invalid value encountered in cast
  return x.astype(dtype, copy=copy, casting=casting)

ValueError: Input y contains NaN.